doctype html
html.perfect-scrollbar-off(lang='en')
  head
    title SIPcoin
    meta(charset='utf-8')

    //meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    //meta(name='viewport', content='width=device-width')

    link(rel='apple-touch-icon', sizes='76x76', href='/images/apple-icon.png')
    link(rel='icon', type='image/png', href='/images/favicon.png')
    //meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    //title SIPcoin - Crypto Currency

    script(src='/js/views/notify.min.js', type='text/javascript')

    link(href='/css/bootstrap-core.css', rel='stylesheet')
    link(href='/css/material-dashboard.css?v=1.2.0', rel='stylesheet')
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet',href='/css/material-icon.css')
    link(rel='stylesheet', href='/css/style_loader.css')
    link(rel='stylesheet',type='text/css', href='/css/material-dashboard.css?v=1.2.0')
    script(src='/js/views/perfect-scrollbar.jquery.min.js')
    script(src='/js/views/jquery-3.2.1.min.js', type='text/javascript')
    script(src='/js/views/bootstrap.min.js', type='text/javascript')
    script(src='/js/views/material.min.js', type='text/javascript')
    script(src='/js/views/js1/dashboard_ajax.js')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons', rel='stylesheet', type='text/css')



    script(src='/js/views/jquery_2.min.js')
    script(src='/js/views/bootstrap.min.js')
    script(src='/vendor/jquery.form.min.js')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='apple-touch-icon', sizes='180x180', href='/images/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/images/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/images/favicon/favicon-16x16.png')
    link(rel='manifest', href='/images/favicon/manifest.json')
    link(rel='mask-icon', href='favicons/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='theme-color', content='#ffffff')
    style.

      body{
      height: device-height;
      width: device-width;
      //background-color: #F8F9F9;
      }

      .cardHeightChange{
        height:500px;
      }

      .popover{
        text-align: left;
        background-color:#222222;
        z-index: 3;
        color: white;
      }

      .popover.right .arrow:after {
        border-right-color: #222222;
        margin: 0;
      }

      #root_tree{
        position: absolute;
        top: 10%;
        left: 50%;
        width: 5%;
        height: 10%;
        transform: translate(-50%,-50%);
        background-image: url('images/avatar_1_red.png');
        background-size: 100% 100%;
        cursor: pointer;
      }

      #line_straight_row_one{
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-radius:4px;
        position: absolute;
        top: 17.5%;
        left: 50%;
        width: 50%;
        height: 5%;
        transform: translate(-50%,0);
      }


      #first_node_row_one{
        position: absolute;
        top: 25%;
        height:10%;
        width: 5%;
        left: 25%;
        transform: translate(-50%,0);
        background-image: url('images/avatar_2_red.png');
        background-size: 100% 100%;
        cursor: pointer;

      }

      #second_node_row_one{
        position: absolute;
        top: 25%;
        height: 10%;
        width: 5%;
        left: 75%;
        transform: translate(-50%,0);
        background-image: url('images/avatar_2_red.png');
        background-size: 100% 100%;
        cursor: pointer;
      }

      #line_straight_row_two_one{
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-radius: 4px;
        position: absolute;
        top: 37.5%;
        left: 24%;
        width: 23%;
        height: 5%;
        transform: translate(-50%,0);
      }

      #line_straight_row_two_two{
        border-radius: 4px;
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        position: absolute;
        top: 37.5%;
        left: 75.5%;
        width: 24%;
        height: 5%;
        transform: translate(-50%,0);
      }

      #line_straight_row_three_one{
        border-radius: 4px;
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        position: absolute;
        top: 58%;
        left: 12.5%;
        width: 10%;
        height: 5%;
        transform: translate(-50%,0);
      }

      #line_straight_row_three_two{
        border-radius: 4px;
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        position: absolute;
        top: 58%;
        left: 35.5%;
        width: 10%;
        height: 5%;
        transform: translate(-50%,0);
      }

      #line_straight_row_three_third{
        border-radius: 4px;
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        position: absolute;
        top: 58%;
        left: 63.5%;
        width: 10%;
        height: 5%;
        transform: translate(-50%,0);
      }

      #line_straight_row_three_fourth{
        border-radius: 4px;
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        position: absolute;
        top: 58%;
        left: 87.5%;
        width: 10%;
        height: 5%;
        transform: translate(-50%,0);
      }


      #first_node_row_two{
        position: absolute;
        width: 5%;
        height: 10%;
        top:45%;
        left:12.5%;
        transform: translate(-50%,0);
        background-image: url('images/avatar_red.png');
        background-size: 100% 100%;
        cursor: pointer;
      }

      #first_node_row_four{
        position: absolute;
        width: 5%;
        height: 10%;
        top:65%;
        left:7.5%;
        transform: translate(-50%,0);
        background-image: url('images/new_red.png');
        background-size: 100% 100%;
        cursor: pointer;

      }


      #second_node_row_four{
        position: absolute;
        width: 5%;
        height: 10%;
        top:65%;
        left:17.5%;
        transform: translate(-50%,0);
        background-image: url('images/new_red.png');
        background-size: 100% 100%;
        cursor: pointer;
      }

      #second_node_row_two{
        position: absolute;
        width: 5%;
        height: 10%;
        top:45%;
        left:35.5%;
        transform: translate(-50%,0);
        background-image: url('images/avatar_red.png');
        background-size: 100% 100%;
        cursor: pointer;
      }

      #third_node_row_four{
        position: absolute;
        width: 5%;
        height: 10%;
        top:65%;
        left:30.5%;
        transform: translate(-50%,0);
        background-image: url('images/new_red.png');
        background-size: 100% 100%;
        cursor: pointer;
      }

      #fourth_node_row_four{
        position: absolute;
        width: 5%;
        height: 10%;
        top:65%;
        left:40.5%;
        transform: translate(-50%,0);
        background-image: url('images/new_red.png');
        background-size: 100% 100%;
        cursor: pointer;
      }


      #third_node_row_two{
        position: absolute;
        width: 5%;
        height: 10%;

        top:45%;
        left:63.5%;
        transform: translate(-50%,0);
        background-image: url('images/avatar_red.png');
        background-size: 100% 100%;
        cursor: pointer;
      }

      #fifth_node_row_four{
        position: absolute;
        width: 5%;
        height: 10%;
        top:65%;
        left:58.5%;
        transform: translate(-50%,0);
        background-image: url('images/new_red.png');
        background-size: 100% 100%;
        cursor: pointer;
      }

      #sixth_node_row_four{
        position: absolute;
        width: 5%;
        height: 10%;
        top:65%;
        left:68.5%;
        transform: translate(-50%,0);
        background-image: url('images/new_red.png');
        background-size: 100% 100%;
        cursor: pointer;
      }


      #fourth_node_row_two{
        position: absolute;
        width: 5%;
        height: 10%;
        top:45%;
        left:87.5%;
        transform: translate(-50%,0);
        background-image: url('images/avatar_red.png');
        background-size: 100% 100%;
        cursor: pointer;
      }

      #seventh_node_row_four{
        position: absolute;
        width: 5%;
        height: 10%;
        top:65%;
        left:82.5%;
        transform: translate(-50%,0);
        background-image: url('images/new_red.png');
        background-size: 100% 100%;
        cursor: pointer;
      }

      #eight_node_row_four{
        position: absolute;
        width: 5%;
        height: 10%;
        top:65%;
        left:92.5%;
        transform: translate(-50%,0);
        background-image: url('images/new_red.png');
        background-size: 100% 100%;
        cursor: pointer;
      }

      .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
      border-top:none;
      font-family:lato_light;
      }
      .sidenav {
      color:white;
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #032b2f;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      -webkit-box-shadow: 4px 6px 49px -1px rgba(3,43,47,1);
      -moz-box-shadow: 4px 6px 49px -1px rgba(3,43,47,1);
      box-shadow: 4px 6px 49px -1px rgba(3,43,47,1);
      font-size:19px;
      font-family:lato_light;
      }
      .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 19px;
      color: white;
      display: block;
      transition: 0.3s;
      }
      .sidenav .closebtn:hover {
      transition:1s;
      background-color:none;
      }
      .hey_me a:hover {
      transition:1s;
      background-color:#11a8ab;
      }
      .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
      }

      .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 70px;
      height: 70px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
      }

      .card:hover{
      box-shadow: 1px 8px 20px grey;
      -webkit-transition:  box-shadow .2s ease-in;
      }

      hr {
      background-color: black !important;
      color: dimgrey !important;
      //border: solid 1px dimgrey !important;
      height: 1px !important;
      width: 1000px !important;
      }

      @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
      }
      @media (max-width:767px){
      .valuesDoll{
      display: none;
      }
      }

  body
  - user = typeof(udata) != 'undefined' ? udata : { }
    #myModal_for_envitaion.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Referral Code Share Via Email
          .modal-body
            p
            h4 Enter email
            p
            input#email_entry(type='text',style="width:65%;")
            button#add_people.btn.btn-primary(type='button', style='margin-left:30px;')  Add
            br
            h4#message(style='display:none') This doesn't looks to be email
            h4#mail_not_correct(style="display:none;margin:10px;") Atleast enter one Email address
            #add_people_data
          .modal-footer
            button.btn.btn-primary(type='button', onclick='send_email()') Send Mail
          center
            h4#success_mail(style="display:none;margin:10px;") Invitation Sent Sucessfully
    .wrapper
      .sidebar(data-color='purple', data-image='/images/sidebar-3.jpg')
        //
          Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
          Tip 2: you can also add an image using data-image tag
        .logo
          a.simple-text(href='http://www.sipcoin.io') SIPCOIN
        .sidebar-wrapper
          ul.nav
            li
              a(href='/dashboard')
                i.material-icons dashboard
                p Dashboard
            li.active
              a(href='/referral')
                i.material-icons group
                p My Referrals
            li
              a(href='/transactionHistory')
                i.material-icons content_paste
                p  Transaction History
            li
              a(href='/investmentHistory')
                i.material-icons monetization_on
                p Investment History
            li
              a(href='/user')
                i.material-icons person
                p My Profile
            //
              <li>
              <a href="./typography.html">
              <i class="material-icons">settings</i>
              <p>Settings</p>
              </a>
              </li>
            li
              a(href='http://support.sipcoin.io/support/')
                i.material-icons bubble_chart
                p Support
            li
              a(href='/logout')
                i.material-icons account_circle
                p Logout
            //
              <li>
              <a href="./maps.html">
              <i class="material-icons">location_on</i>
              <p>Maps</p>
              </a>
              </li>
              <li>
              <a href="./notifications.html">
              <i class="material-icons text-gray">notifications</i>
              <p>Notifications</p>
              </a>
              </li>
            li.active-pro
              a(href='upgrade.html')
      .main-panel
        nav.navbar.navbar-transparent.navbar-absolute
          .container-fluid
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand  My Referrals
              a.navbar-brand.valuesDoll(style='margin-left:338px;')  BTC/USD $10000
              a.navbar-brand.valuesDoll  ETH/USD $5000
              a.navbar-brand.valuesDoll  SIP/USD $10
            .collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.material-icons person
                  ul.dropdown-menu(style='padding:20px;')
                    li
                      br
                      center
                        | #{udata.email}
                      br
                    li(style='text-align:center;')
                      a(href='/logout') Logout
                    li(style='text-align:center;')
                      a(href='/user') My Profile


        .content
          .container-fluid
            .row(style='border:2px dashed rgb(217,217,217);margin:20px;')
              .col-md-offset-0.col-sm-6(style='margin-top:10px;')
                .col-sm-10.col-sm-offset-1(style='font-color:black;')
                  h3
                    .col-sm-8.col-sm-offset-0
                      i.fa.fa-handshake-o.regularLatto(area-hidden='true', style='font-size:25px;')
                      | &nbsp&nbsp Referral Code
                  .card.bg-info(style="height:40px;width:250px;margin-top:10px;background-color:#f9b707;")
                    center
                      .h3.card-body.title  #{selfReferralCode}

              .col-sm-5
                .col-sm-12
                  center
                    h3(style="margin:20px;") Share Code Via
                .col-sm-4.col-xs-4
                  .center
                    a#whats_app_link(href='',target='_blank')
                      button.btn.btn-default(type='button',data-toggle='tooltip',title='Whatsapp',data-placement='bottom',style="background-color:#F2F3F4;")
                        img(src='/images/whatsapp.png', alt='Person', width='25', height='25')
                .col-sm-4.col-xs-4
                  .center
                    button.btn.btn-default(type='button',data-toggle='tooltip', title='E-Mail', data-placement='bottom', data-target='#myModal_for_envitaion',style="background-color:#F2F3F4;")
                        img(src='/images/email.png', alt='Person', width='25', height='25')
                .col-sm-4.col-xs-4
                  .center
                    button.btn.btn-default#copy-link(type='button',onclick="myFunction()",data-toggle='tooltip',title='Copy link',data-placement='bottom',style="background-color:#F2F3F4;")
                        img(src='/images/link.png', alt='Person', width='25', height='25')


         .container-fluid
           .row
              .col-lg-3.col-md-6.col-sm-6
                .card.card-stats
                  .card-header(style='background-color:white;box-shadow:none;margin-top:1px;margin-left:0px;margin-right:0px;')
                    img(src='/images/left_count.png', style='height:75px;width:75px;')
                  .card-content(style='margin-top:10px;height:100px;font-size:20px;text-align:center;')
                    .category Left Count
                      center
                        br
                        .p(style='font-color:black;') #{leftCount}

              .col-lg-3.col-md-6.col-sm-6
                .card.card-stats
                  .card-header(style='background-color:white;box-shadow:none;margin-top:1px;margin-left:0px;margin-right:0px;')
                    img(src='/images/right_count.png', style='height:75px;width:75px;')
                  .card-content(style='margin-top:10px;height:100px;font-size:20px;text-align:center;')
                    .category Right Count
                      center
                        br
                        .p(style='font-color:black;') #{rightCount}

              .col-lg-3.col-md-6.col-sm-6
                .card.card-stats
                  .card-header(style='background-color:white;box-shadow:none;margin-top:1px;margin-left:0px;margin-right:0px;')
                    img(src='/images/left_business.png', style='height:75px;width:75px;')
                  .card-content(style='margin-top:10px;height:100px;font-size:20px;text-align:center;')
                    .category Left Business
                      center

                        .p(style='font-color:black;margin-top:5px;') #{totalLeftSideBusiness}

              .col-lg-3.col-md-6.col-sm-6
                .card.card-stats
                  .card-header(style='background-color:white;box-shadow:none;margin-top:1px;margin-left:0px;margin-right:0px;')
                    img(src='/images/right_business.png', style='height:75px;width:75px;')
                  .card-content(style='margin-top:10px;height:100px;font-size:20px;text-align:center;')
                    .category Right Business
                      center

                        .p(style='font-color:black;margin-top:5px;') #{totalRightSideBusiness}

            - user = typeof(udata) != 'undefined' ? udata : { }
            br
            hr
            br
            .col-sm-10.col-sm-offset-1
              center(style="font-size:20px;margin-bottom:10px;")
                | Your Referral Tree
              br
              br
            .col-sm-1.col-sm-offset-4
              a#go_back_home(onclick="get_further('go_home')",style="display:none;text-decoration:none;cursor:pointer;")
                i.fa.fa-home(aria-hidden='true')
                |  &nbsp Go Home
            .col-sm-1.col-sm-offset-0
              a#go_back_link(onclick="get_further('no_number')",style="display:none;text-decoration:none;cursor:pointer;")
                i.fa.fa-arrow-left(aria-hidden='true')
                |  &nbsp Go back
            .col-md-10.col-md-offset-1(style="height:40%;width=60%;")
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              .loader_div(style="z-index:10;display:block;position:absolute;top:0%;left:0%;height:100%;width:100%;")
                .loader(style="position:absolute;top:40%;left:47%;")
              #main_screen(style='position:absolute;top:0%;left:0%;height:100%;width:100%;display:none;')
                #root_tree(onclick='get_further(0)')
                  center
                    h5.name(style='margin-top:69px;width:100%;')
                #line_straight_row_one
                #row_two
                  #first_node_row_one(onclick='get_further(1)')
                    center
                      h5.name(style='margin-top:69px;')
                  #second_node_row_one(onclick='get_further(2)')
                    center
                      h5.name(style='margin-top:69px;')
                #line_straight_row_two_one
                #line_straight_row_two_two
                #row_three
                  #first_node_row_two(onclick='get_further(3)')
                    center
                      h5.name(style='margin-top:69px;')
                  #second_node_row_two(onclick='get_further(4)')
                    center
                      h5.name(style='margin-top:69px;')
                  #third_node_row_two(onclick='get_further(5)')
                    center
                      h5.name(style='margin-top:69px;')
                  #fourth_node_row_two(onclick='get_further(6)')
                    center
                      h5.name(style='margin-top:69px;')
                #line_straight_row_three_one
                #line_straight_row_three_two
                #line_straight_row_three_third
                #line_straight_row_three_fourth
                #row_four
                  #first_node_row_four(onclick='get_further(7)')
                    center
                      h5.name(style='margin-top:69px;')
                  #second_node_row_four(onclick='get_further(8)')
                    center
                      h5.name(style='margin-top:69px;')
                  #third_node_row_four(onclick='get_further(9)')
                    center
                      h5.name(style='margin-top:69px;')
                  #fourth_node_row_four(onclick='get_further(10)')
                    center
                      h5.name(style='margin-top:69px;')
                  #fifth_node_row_four(onclick='get_further(11)')
                    center
                      h5.name(style='margin-top:69px;')
                  #sixth_node_row_four(onclick='get_further(12)')
                    center
                      h5.name(style='margin-top:69px;')
                  #seventh_node_row_four(onclick='get_further(13)')
                    center
                      h5.name(style='margin-top:69px;')
                  #eight_node_row_four(onclick='get_further(14)')
                    center
                      h5.name(style='margin-top:69px;')




        footer.footer
          .container-fluid
            nav.pull-left
              //
                <ul>
                <li>
                <a href="#">
                Home
                </a>
                </li>
                <li>
                <a href="#">
                Company
                </a>
                </li>
                <li>
                <a href="#">
                Portfolio
                </a>
                </li>
                <li>
                <a href="#">
                Blog
                </a>
                </li>
                </ul>
            p.copyright.pull-right
              | ©
              script.
                document.write(new Date().getFullYear())
              a(href='http://www.sipcoin.io') SIPcoin
              |  Crypto Platform #forThePeople
  // Core JS Files
  script(src='/js/views/jquery-3.2.1.min.js', type='text/javascript')
  script(src='/js/views/bootstrap.min.js', type='text/javascript')
  script(src='/js/views/matlatest/material.min.js', type='text/javascript')
  // PerfectScrollbar Library
  script(src='/js/views/perfect-scrollbar.jquery.min.js')
  script(src='/js/views/jquery.datatables.min.js')
  script.

    //Referral Code ==============================================================================

    function reinitialise(){
    $("#root_tree").css('background-image','url("images/avatar_1_red.png")');

    $("#first_node_row_one").css('background-image','url("images/avatar_2_red.png")');

    $("#second_node_row_one").css('background-image','url("images/avatar_2_red.png")');

    $("#first_node_row_two").css('background-image','url("images/avatar_red.png")');

    $("#second_node_row_two").css('background-image','url("images/avatar_red.png")');

    $("#third_node_row_two").css('background-image','url("images/avatar_red.png")');

    $("#fourth_node_row_two").css('background-image','url("images/avatar_red.png")');

    $("#first_node_row_four").css('background-image','url("images/new_red.png")');

    $("#second_node_row_four").css('background-image','url("images/new_red.png")');

    $("#third_node_row_four").css('background-image','url("images/new_red.png")');

    $("#fourth_node_row_four").css('background-image','url("images/new_red.png")');

    $("#fifth_node_row_four").css('background-image','url("images/new_red.png")');

    $("#sixth_node_row_four").css('background-image','url("images/new_red.png")');

    $("#seventh_node_row_four").css('background-image','url("images/new_red.png")');

    $("#eight_node_row_four").css('background-image','url("images/new_red.png")');

    $('#root_tree').popover('destroy');
    $('#first_node_row_one').popover('destroy');
    $('#second_node_row_one').popover('destroy');
    $('#first_node_row_two').popover('destroy');
    $('#second_node_row_two').popover('destroy');
    $('#third_node_row_two').popover('destroy');
    $('#fourth_node_row_two').popover('destroy');
    $('#first_node_row_four').popover('destroy');
    $('#second_node_row_four').popover('destroy');
    $('#third_node_row_four').popover('destroy');
    $('#fourth_node_row_four').popover('destroy');
    $('#fifth_node_row_four').popover('destroy');
    $('#sixth_node_row_four').popover('destroy');
    $('#seventh_node_row_four').popover('destroy');
    $('#eight_node_row_four').popover('destroy');

    $("#first_node_row_one").css('display','block');
    $("#second_node_row_one").css('display','block');
    $("#first_node_row_two").css('display','block');
    $("#second_node_row_two").css('display','block');
    $("#third_node_row_two").css('display','block');
    $("#fourth_node_row_two").css('display','block');
    $("#first_node_row_four").css('display','block');
    $("#second_node_row_four").css('display','block');
    $("#third_node_row_four").css('display','block');
    $("#fourth_node_row_four").css('display','block');
    $("#fifth_node_row_four").css('display','block');
    $("#sixth_node_row_four").css('display','block');
    $("#seventh_node_row_four").css('display','block');
    $("#eight_node_row_four").css('display','block');

    $("#line_straight_row_two_one").css('display','block');
    $("#line_straight_row_two_two").css('display','block');
    $("#line_straight_row_three_one").css('display','block');
    $("#line_straight_row_three_two").css('display','block');
    $("#line_straight_row_three_third").css('display','block');
    $("#line_straight_row_three_fourth").css('display','block');

    }

    var data_for_further=[];
    var main_array=[{key:'#{selfReferralCode}',name:'#{user.user}'}];
    var node_1=[];

    var input_data={"root_referral":'#{selfReferralCode}'};

    var main_home_data='#{selfReferralCode}';
    var variable_data_array=[];

    $.ajax({
    type: 'POST',
    crossOrigin:true,
    data: JSON.stringify(input_data),
    contentType: 'application/json',
    url: '/referralTree',
    success: function(result) {
    console.log(result);
    node_1=result;
    return_me_the_promise().then(function(main_data){
        console.log(main_data);
        make_the_popover(main_data);
        data_for_further=main_data;
        main_array=main_data;
    })

    //console.log(result);
    //console.log('#{user.user}');
    },error:function(err){
    console.log(err);
    }
    });

      function get_further(get_id){

      var length_data=variable_data_array.length;

       if(get_id=="go_home")
       {
           $("#go_back_link").css('display','none');
           $("#go_back_home").css('display','none');

           $('.loader_div').css('display','block');
           $('#main_screen').css('display','none');

           var input_data={"root_referral":variable_data_array[0]["key"]};

           console.log(input_data);
           // console.log(main_array);
             reinitialise();
             $.ajax({
             type: 'POST',
             crossOrigin:true,
             data: JSON.stringify(input_data),
             contentType: 'application/json',
             url: '/referralTree',
             success: function(result) {
             console.log(result);
             node_1=result;
             main_array=[variable_data_array[0]];
             variable_data_array=[];
             console.log(variable_data_array.length);
             console.log(variable_data_array);

             if(variable_data_array.length==0)
             {
                $("#go_back_link").css('display','none');
                $("#go_back_home").css('display','none');

             }
             else
             {
               $("#go_back_link").css('display','block');
               $("#go_back_home").css('display','block');
             }

             console.log(main_array);
             return_me_the_promise().then(function(main_data){
                 console.log(main_data);
                 make_the_popover(main_data);
                 data_for_further=main_data;
                 main_array=main_data;
             })

             //console.log(result);
             //console.log('#{user.user}');
             },error:function(err){
             console.log(err);
             }
             });


       }else  if(get_id==0)
       {
        console.log('nothing_will_happen');
       }else  if(get_id=='no_number')
       {

       $("#go_back_link").css('display','none');
       $("#go_back_home").css('display','none');

       $('.loader_div').css('display','block');
       $('#main_screen').css('display','none');

       var input_data={"root_referral":variable_data_array[length_data-1]["key"]};

       console.log(input_data);
       // console.log(main_array);
         reinitialise();
         $.ajax({
         type: 'POST',
         crossOrigin:true,
         data: JSON.stringify(input_data),
         contentType: 'application/json',
         url: '/referralTree',
         success: function(result) {
         console.log(result);
         node_1=result;
         main_array=[variable_data_array[length_data-1]];
         variable_data_array.splice(length_data-1,1);
         console.log(variable_data_array.length);
         console.log(variable_data_array);

         if(variable_data_array.length==0)
         {
            $("#go_back_link").css('display','none');
            $("#go_back_home").css('display','none');

         }
         else
         {
           $("#go_back_link").css('display','block');
           $("#go_back_home").css('display','block');

         }

         console.log(main_array);
         return_me_the_promise().then(function(main_data){
             console.log(main_data);
             make_the_popover(main_data);
             data_for_further=main_data;
             main_array=main_data;
         })

         //console.log(result);
         //console.log('#{user.user}');
         },error:function(err){
         console.log(err);
         }
         });

       }else{

       $("#go_back_link").css('display','none');
       $("#go_back_home").css('display','none');

       console.log(main_array[get_id]["key"]);

       if(main_array[get_id]["key"]!='Empty')
       {
         $('.loader_div').css('display','block');
         $('#main_screen').css('display','none');

         var input_data={"root_referral":main_array[get_id]["key"]};

         variable_data_array.push({"key":main_array[0]["key"],name:data_for_further[0]["name"],parent:data_for_further[0]["parent"]});
         console.log("variable data : "+variable_data_array[0]["key"]);
         console.log(input_data);
         // console.log(main_array);
           reinitialise();
           $.ajax({
           type: 'POST',
           crossOrigin:true,
           data: JSON.stringify(input_data),
           contentType: 'application/json',
           url: '/referralTree',
           success: function(result) {
           console.log(result);
           node_1=result;
           main_array=[{key:data_for_further[get_id]["key"],name:data_for_further[get_id]["name"],parent:data_for_further[get_id]["parent"]}];
           return_me_the_promise().then(function(main_data){
               console.log(main_data);
               make_the_popover(main_data);
               data_for_further=main_data;
               main_array=main_data;
               $("#go_back_link").css('display','block');
               $("#go_back_home").css('display','block');


           })

           //console.log(result);
           //console.log('#{user.user}');
           },error:function(err){
           console.log(err);
           }
           });

       }else{
         console.log("Node empty");
       }

       }

      }

      function make_the_popover(main_data){

              function check_for_red_ness(data_item,index)
              {
                  console.log("data_item : "+data_item+ " index : "+index );
                  console.log(output_data[index].planAmt);
                  if(output_data[index].planAmt>0)
                  {
                      console.log('hey');
                      if(index==0)
                      {
                          $("#"+data_item).css('background-image','url("images/avatar_1.png")');
                      }else if(index>=1 && index<=2)
                      {
                        $("#"+data_item).css('background-image','url("images/avatar_2.png")');
                      }else if(index>=3 && index<=6)
                      {
                        $("'#"+data_item).css('background-image','url("images/avatar.png")');
                      }else if(index>=7 && index<=14)
                      {
                        $("'#"+data_item).css('background-image','url("images/new.png")');
                      }
                  }
              }

               console.log(main_data);
               var output_data=main_data;

               for(var i=0;i<output_data.length;i++)
               {
                //console.log(output_data[i]);
                 var get_names=$(".name");
                 get_names[i].innerHTML=output_data[i].name;
                 //var value="hey_there";
                 var user_name="<h4> <center>"+output_data[i].name+"</center></h4>";
                 //var normal_name="<h5 style='display:inline;padding:10px;font-size:12px;'> Name - </h5>"+"Harsh"+"<br>";
                 var left_people="<h5 style='display:inline;padding:10px;font-size:12px;'> Left Count - </h5>"+output_data[i].leftCount+"<br>";
                 var right_people="<h5 style='display:inline;padding:10px;font-size:12px;'> Right Count -  </h5>"+output_data[i].rightCount+"<br>";

                 var left_business="<h5 style='display:inline;padding:10px;font-size:12px;'> Left Business -  </h5>"+output_data[i].totalLeftSideBusiness+"<br>";
                 var right_business="<h5 style='display:inline;padding:10px;font-size:12px;'> Right Business -  </h5>"+output_data[i].totalRightSideBusiness+"<br>";


                 var self_refferal_code="<h5 style='display:inline;padding:10px;font-size:12px;'> Self Referral Code - </h5>"+output_data[i].key+"<br>";
                 var parent_refferal_code="<h5 style='display:inline;padding:10px;font-size:12px;'> Parent Referral Code - </h5>"+output_data[i].parent+"<br>";
                 //var Income_code="<h5 style='display:inline;padding:10px;font-size:12px;'> Income - </h5>"+"10000"+"<br>";
                 var final_data="<div style='font-size:12px;'>"+user_name+"<center><hr style='width:80%;'></center>"+self_refferal_code+parent_refferal_code+left_people+right_people+left_business+right_business+"<br></div>";

                 if(i==0)
                 {
                   if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
                   {
                      $("#root_tree").css('background-image','url("images/avatar_no.png")');
                      //document.getElementById('root_tree').removeAttribute("onclick");
                   }else {
                      console.log("I am in");
                      //console.log(final_data);

                      //console.log("Inside Referral output_data: ", output_data);

                      var left_people="<h5 style='display:inline;padding:10px;font-size:12px;'> Left Count - </h5> 0 <br>";
                      var right_people="<h5 style='display:inline;padding:10px;font-size:12px;'> Right Count -  </h5> 0 <br>";

                      //var left_business="<h5 style='display:inline;padding:10px;font-size:12px;'> Left Business - </h5> 0 <br>";
                      //var right_business="<h5 style='display:inline;padding:10px;font-size:12px;'> Right Business - </h5> 0 <br>";

                      if(output_data[1].key!="Empty")
                      {
                        left_people="<h5 style='display:inline;padding:10px;font-size:12px;'> Left Count - </h5>"+(output_data[1].leftCount+output_data[1].rightCount+1)+"<br>";
                        left_business="<h5 style='display:inline;padding:10px;font-size:12px;'> Left Business - </h5>"+(output_data[3].totalLeftSideBusiness)+"<br>";

                      }

                      if(output_data[2].key!="Empty")
                      {
                        right_people="<h5 style='display:inline;padding:10px;font-size:12px;'> Right Count -  </h5>"+(output_data[2].leftCount+output_data[2].rightCount+1)+"<br>";
                        right_business="<h5 style='display:inline;padding:10px;font-size:12px;'> Right Business - </h5>"+(output_data[3].totalRightSideBusiness)+"<br>";
                      }

                      final_data="<div style='font-size:12px;'>"+user_name+"<center><hr style='width:80%;'></center>"+self_refferal_code+left_people+right_people+"<br></div>";
                      check_for_red_ness('root_tree',0);
                     $("#root_tree").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
                   }

                 }

                 if(i==1)
                 {
                   if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
                   {
                      $("#first_node_row_one").css('background-image','url("images/avatar_no.png")');
                      //document.getElementById('first_node_row_one').removeAttribute("onclick");
                   }else {
                     check_for_red_ness('first_node_row_one',1);
                     $("#first_node_row_one").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
                   }

                 }

                 if(i==2)
                 {

                   if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
                   {
                      $("#second_node_row_one").css('background-image','url("images/avatar_no.png")');
                      //document.getElementById('second_node_row_one').removeAttribute("onclick");
                   }else {
                     check_for_red_ness('second_node_row_one',2);
                     $("#second_node_row_one").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
                   }
                }

                 if(i==3)
                 {
                   if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
                   {
                      $("#first_node_row_two").css('background-image','url("images/avatar_no.png")');
                      //document.getElementById('first_node_row_two').removeAttribute("onclick");
                   }else {
                    check_for_red_ness('first_node_row_two',3);
                    $("#first_node_row_two").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
                   }

                 }

                 if(i==4)
                 {
                   if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
                   {
                      $("#second_node_row_two").css('background-image','url("images/avatar_no.png")');
                      //document.getElementById('second_node_row_two').removeAttribute("onclick");
                   }else {
                     check_for_red_ness('second_node_row_two',4);
                     $("#second_node_row_two").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
                   }

                 }

                 if(i==5)
                 {
                   if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
                   {
                      $("#third_node_row_two").css('background-image','url("images/avatar_no.png")');
                      //document.getElementById('third_node_row_two').removeAttribute("onclick");
                   }else {
                     check_for_red_ness('third_node_row_two',5);
                     $("#third_node_row_two").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
                   }

                 }

                 if(i==6)
                 {

                   if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
                   {
                      $("#fourth_node_row_two").css('background-image','url("images/avatar_no.png")');
                      //document.getElementById('fourth_node_row_two').removeAttribute("onclick");
                   }else {
                     check_for_red_ness('fourth_node_row_two',6);
                     $("#fourth_node_row_two").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
                   }
                 }

                 if(i==7)
                 {
                   if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
                   {
                      $("#first_node_row_four").css('background-image','url("images/avatar_no.png")');
                      //document.getElementById('first_node_row_four').removeAttribute("onclick");
                   }else {
                     check_for_red_ness('first_node_row_four',7);
                     $("#first_node_row_four").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
                   }
                 }

                 if(i==8)
                 {
                   if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
                   {
                      $("#second_node_row_four").css('background-image','url("images/avatar_no.png")');
                      //document.getElementById('second_node_row_four').removeAttribute("onclick");
                   }else {
                     check_for_red_ness('second_node_row_four',8);
                     $("#second_node_row_four").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
                   }

                 }

                 if(i==9)
                 {
                   if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
                   {
                      $("#third_node_row_four").css('background-image','url("images/avatar_no.png")');
                      //document.getElementById('third_node_row_four').removeAttribute("onclick");
                   }else {
                     check_for_red_ness('third_node_row_four',9);
                     $("#third_node_row_four").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
                   }
                 }

                 if(i==10)
                 {

                   if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
                   {
                      $("#fourth_node_row_four").css('background-image','url("images/avatar_no.png")');
                      //document.getElementById('fourth_node_row_four').removeAttribute("onclick");
                   }else {
                     check_for_red_ness('fourth_node_row_four',10);
                     $("#fourth_node_row_four").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
                   }
                 }

                 if(i==11)
                 {
                   if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
                   {
                      $("#fifth_node_row_four").css('background-image','url("images/avatar_no.png")');
                      //document.getElementById('fifth_node_row_four').removeAttribute("onclick");
                   }else {
                     check_for_red_ness('fifth_node_row_four',11);
                     $("#fifth_node_row_four").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
                   }
                 }

                 if(i==12)
                 {
                   if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
                   {
                      $("#sixth_node_row_four").css('background-image','url("images/avatar_no.png")');
                      //document.getElementById('sixth_node_row_four').removeAttribute("onclick");
                   }else {
                     check_for_red_ness('sixth_node_row_four',12);
                     $("#sixth_node_row_four").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
                   }
                 }

                 if(i==13)
                 {
                   if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
                   {
                      $("#seventh_node_row_four").css('background-image','url("images/avatar_no.png")');
                      //document.getElementById('seventh_node_row_four').removeAttribute("onclick");
                   }else {
                     check_for_red_ness('seventh_node_row_four',13);
                     $("#seventh_node_row_four").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
                   }

                 }

                 if(i==14)
                 {
                   if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
                   {
                      $("#eight_node_row_four").css('background-image','url("images/avatar_no.png")');
                      //document.getElementById('eight_node_row_four').removeAttribute("onclick");
                   }else {
                     check_for_red_ness('eight_node_row_four',14);
                     $("#eight_node_row_four").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
                   }

                 }

                 $('.loader_div').css('display','none');
                 $('#main_screen').css('display','block');
              }

              if(output_data[1].name=='No Child' || output_data[1].name=='Empty'){

              $("#first_node_row_two").css('display','none');
              $("#second_node_row_two").css('display','none');
              $("#first_node_row_four").css('display','none');
              $("#second_node_row_four").css('display','none');
              $("#third_node_row_four").css('display','none');
              $("#fourth_node_row_four").css('display','none');
              $("#line_straight_row_two_one").css('display','none');
              $("#line_straight_row_three_one").css('display','none');
              $("#line_straight_row_three_two").css('display','none');
              }

              if(output_data[2].name=='No Child' || output_data[2].name=='Empty')
              {
              $("#third_node_row_two").css('display','none');
              $("#fourth_node_row_two").css('display','none');
              $("#fifth_node_row_four").css('display','none');
              $("#sixth_node_row_four").css('display','none');
              $("#seventh_node_row_four").css('display','none');
              $("#eight_node_row_four").css('display','none');
              $("#line_straight_row_two_two").css('display','none');
              $("#line_straight_row_three_third").css('display','none');
              $("#line_straight_row_three_fourth").css('display','none');

              }

              if(output_data[3].name=='No Child' || output_data[3].name=='Empty')
              {
                $("#first_node_row_four").css('display','none');
                $("#second_node_row_four").css('display','none');
                $("#line_straight_row_three_one").css('display','none');

              }

              if(output_data[4].name=='No Child' || output_data[4].name=='Empty')
              {
                $("#third_node_row_four").css('display','none');
                $("#fourth_node_row_four").css('display','none');
                $("#line_straight_row_three_two").css('display','none');

              }

              if(output_data[5].name=='No Child' || output_data[5].name=='Empty')
              {
                $("#fifth_node_row_four").css('display','none');
                $("#sixth_node_row_four").css('display','none');
                $("#line_straight_row_three_third").css('display','none');
              }

              if(output_data[6].name=='No Child' || output_data[6].name=='Empty')
              {
                $("#seventh_node_row_four").css('display','none');
                $("#eight_node_row_four").css('display','none');
                $("#line_straight_row_three_fourth").css('display','none');
              }

         }



        function return_me_the_promise(){

          var willIGetNewPhone = new Promise(
            function (resolve, reject) {
              var iterations=0;

              console.log(create_new_main_data(main_array,iterations));

              function create_new_main_data(main_array,iterations){

                key=main_array[iterations]["key"];
                console.log(main_array);

                if(iterations==7)
                {
                  resolve(main_array);
                }else {
                  iterations=iterations+1;
                  get_my_array().then(function(result_from_prom){
                    console.log(result_from_prom);
                    console.log(iterations);


                    if(Object.keys(result_from_prom["left_link"]).length!=0 && Object.keys(result_from_prom["right_link"]).length!=0)
                    {
                      main_array.push(result_from_prom["left_link"]);
                      main_array.push(result_from_prom["right_link"]);
                      console.log(main_array);
                      create_new_main_data(main_array,iterations);
                    }

                    if(Object.keys(result_from_prom["left_link"]).length!=0 && Object.keys(result_from_prom["right_link"]).length==0)
                    {
                        main_array.push(result_from_prom["left_link"]);
                        main_array.push({"key":"Empty","parent":key,"name":"No Child"});
                        create_new_main_data(main_array,iterations);
                    }

                    if(Object.keys(result_from_prom["left_link"]).length==0 && Object.keys(result_from_prom["right_link"]).length!=0)
                    {
                        main_array.push({"key":"Empty","parent":key,"name":"No Child"});
                        main_array.push(result_from_prom["right_link"]);
                        create_new_main_data(main_array,iterations);
                    }

                    if(Object.keys(result_from_prom["left_link"]).length==0 && Object.keys(result_from_prom["right_link"]).length==0)
                    {
                      main_array.push({"key":"Empty","parent":key,"name":"No Child"});
                      main_array.push({"key":"Empty","parent":key,"name":"No Child"});
                      create_new_main_data(main_array,iterations);
                    }

                  });

                }

              }

              // main_array.push(find_left_right(main_array[i]["key"]));
              // console.log(main_array);

             function get_my_array(){

              var getting_the_two_values = new Promise(
                  function (resolve, reject) {
                    var temp_array=[];
                    var left_link={};
                    var right_link={};
                    var counter=0;;
                    console.log(key);

                    if(node_1.length==0)
                    {

                        temp_array={left_link,right_link};
                        resolve(temp_array);
                    }else{

                      for(var j=0;j<node_1.length;j++)
                      {
                        if(node_1[j]["parent"]==key)
                        {
                          counter=counter+1;
                          if(counter==1)
                          {
                            left_link=node_1[j];
                          }

                          if(counter==2)
                          {
                            right_link=node_1[j];
                            temp_array={left_link,right_link};
                            resolve(temp_array);
                            break;
                          }
                        }

                        if(j==node_1.length-1)
                        {   console.log("hey");
                            temp_array={left_link,right_link};
                            resolve(temp_array);
                        }
                      }

                    }

                  });

            return getting_the_two_values;
            }
          }
         );

         return willIGetNewPhone;
       }



    $(function(){
    $(document).on('click',".button_hey_logout",function(){
    $("#btn-logout").click();
    });
    var refferal_value='http://sipcoin.io/signup?ref%3D#{selfReferralCode}';
    $("#whats_app_link").attr('href','https://web.whatsapp.com//send?text='+refferal_value);
    console.log(refferal_value);
    })


    function myFunction(){
    var refferal_value='http://ico.sipcoin.io/signup?ref='+'#{selfReferralCode}';
    console.log(refferal_value);
    var dummy = $('<input>').val(refferal_value).appendTo('body').select()
    document.execCommand('copy');
    //$("#copy-link").notify("Link Copied!");
    }

    $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    });

    $("#add_people").click(function(){
    $("#mail_not_correct").css('display','none');
    $("#success_mail").css('display','none');
    var email_value=$("#email_entry").val();
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    var value=re.test(email_value);
    if(value==true)
    {
      var data_for_the_chip='<div class="chip" style="margin:10px;"><div class="name" style="display:inline;">'+email_value+'</div><span class="closebtn" style="margin-left:10px;" onclick="this.parentElement.remove()">&times;</span> </div>';
      $("#add_people_data").append(data_for_the_chip);
      $("#message").css('display','none');
      $("#email_entry").val('');
    }else {
    $("#message").css('display','block');
    }
    });

    function send_email(){
    var array_email=[];
    console.log($(".chip").find(".name"));
    var email_data=$(".chip").find(".name");
    for(var i=0;i<email_data.length;i++)
    {
    array_email.push(email_data[i].innerHTML);
    }
    setTimeout(function(){
    console.log(array_email);

    if(array_email.length==0)
    {
      $("#mail_not_correct").css('display','block');
      console.log("Please Enter one email address");
    }else{
    var refferal_value='http://sipcoin.io/signup?ref='+'#{selfReferralCode}';
    var object_of_email={"value":array_email,"link":refferal_value};
    console.log(object_of_email);
    $.ajax({
    type: 'POST',
    crossOrigin:true,
    data: JSON.stringify(object_of_email),
    contentType: 'application/json',
    url: '/email_send',
    success: function(result) {
    console.log(result);
    if(result.val==1)
    {
    $("#success_mail").css('display','block');
    $("#add_people_data").empty();
    }
    },
    error:function(err){
    console.log(err);
    }
    });
    }
    },1000);
    }

    $('#myModal_for_envitaion').on('hidden.bs.modal', function () {
      $("#add_people_data").empty();
      $("#email_entry").val();
      $("#mail_not_correct").css('display','none');
      $("#success_mail").css('display','none');
      $("#message").css('display','none');
    })

    var data_for_the_popover='<div class="container" style="background-color:#222222;"> <div class="row"> <div class="col-sm-2" style="background-color:#222222;color:white;padding-left: 0px;padding-right: 0px;"> <div class="row"> <div class="col-sm-12" style="color:white;padding:20px;font-family:lato_bold,open-serif;"> <center><h5 style="font-size:17px;color:white;">#{user.email} </h5> </center> </div> <div class="col-sm-12"> <br> </div> <div class="col-sm-12 hover_change_back"> <h5 style="font-size:20px;font-family:lato_light;"> <a href="/account" style="color:white;text-decoration:none;"> <i style="padding-right:3px;padding-left:10px;"class="fa fa-cogs" aria-hidden="true"></i> Account Settings </a> </h5> </div> <div class="col-sm-12"> <hr> </div> <div  class="col-sm-12 hover_change_back button_hey_logout"> <h5 style="font-size:20px;font-family:lato_light;"> <i style="padding-right:12px;padding-left:10px;" class="fa fa-power-off" aria-hidden="true"></i>Log out </h5> </div> </div> <br> </div> </div> </div>';
    $(function(){
    $('.open_the_popup').popover({content:data_for_the_popover ,placement: "bottom",html: true,trigger: "focus"});
    })
    function openNav() {
    document.getElementById("mySidenav").style.width = "300px";
    }
    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }
    $("#mySidenav").mouseleave(function(){
    document.getElementById("mySidenav").style.width = "0";
    });

    //Referral Code ======================================================================================


    $(document).ready(function(){
    $("#tblReportResultsDemographics_wrapper").remove();
    $("#dollToSipTransHistTable").append('<table style="border:none;" id="tblReportResultsDemographics" class="table table-striped table-bordered" width="100%"> <thead> <tr> <th>Invoice ID</th> <th>Demanded Coins</th> <th>Coins Allocated</th> <th>BTC Of Coins</th> <th>BTC Paid</th> <th>Amount Paid</th> <th>BTC To USD</th> <th>Value Of One Coin</th> <th>Destination Address</th> <th>Time Of Payment Placed</th> <th>Time Of Payment Received</th> <th>Transaction Hash</th> <th>Expired</th> </tr> </thead> <tfoot> <tr> <th>Invoice ID</th> <th>Demanded Coins</th> <th>Coins Allocated</th> <th>BTC Of Coins</th> <th>BTC Paid</th> <th>Amount Paid</th> <th>BTC To USD</th> <th>Value Of One Coin</th> <th>Destination Address</th> <th>Time Of Payment Placed</th> <th>Time Of Payment Received</th> <th>Transaction Hash</th> <th>Expired</th> </tr> </tfoot> </table>');
    var oTblReport = $("#tblReportResultsDemographics")
    //
    var tr = '';
    //console.log((jQuery.parseJSON(tr)));
    oTblReport.DataTable ({
    "data" : jQuery.parseJSON(tr),
    "columns" : [
    { "data" : "TransactionID"},
    { "data" : "demandedTokens"},
    { "data" : "tokens"},
    { "data" : "BTCofTokens"},
    { "data" : "BTCpaid"},
    { "data" : "amountPaid"},
    { "data" : "BTCtoUSD" },
    { "data" : "valueOfOneToken" },
    { "data" : "publicAddressWallet" },
    { "data" : "TimeOfPaymentPlaced" },
    { "data" : "TimeOfPaymentReceived"},
    { "data" : "Transaction_hash"},
    { "data" : "Expired"}
    ]
    });
    });

  script.
    function reinitialise(){
    $("#root_tree").css('background-image','url("images/avatar_1_red.png")');
    $("#first_node_row_one").css('background-image','url("images/avatar_2_red.png")');
    $("#second_node_row_one").css('background-image','url("images/avatar_2_red.png")');
    $("#first_node_row_two").css('background-image','url("images/avatar_red.png")');
    $("#second_node_row_two").css('background-image','url("images/avatar_red.png")');
    $("#third_node_row_two").css('background-image','url("images/avatar_red.png")');
    $("#fourth_node_row_two").css('background-image','url("images/avatar_red.png")');
    $("#first_node_row_four").css('background-image','url("images/new_red.png")');
    $("#second_node_row_four").css('background-image','url("images/new_red.png")');
    $("#third_node_row_four").css('background-image','url("images/new_red.png")');
    $("#fourth_node_row_four").css('background-image','url("images/new_red.png")');
    $("#fifth_node_row_four").css('background-image','url("images/new_red.png")');
    $("#sixth_node_row_four").css('background-image','url("images/new_red.png")');
    $("#seventh_node_row_four").css('background-image','url("images/new_red.png")');
    $("#eight_node_row_four").css('background-image','url("images/new_red.png")');
    $('#root_tree').popover('destroy');
    $('#first_node_row_one').popover('destroy');
    $('#second_node_row_one').popover('destroy');
    $('#first_node_row_two').popover('destroy');
    $('#second_node_row_two').popover('destroy');
    $('#third_node_row_two').popover('destroy');
    $('#fourth_node_row_two').popover('destroy');
    $('#first_node_row_four').popover('destroy');
    $('#second_node_row_four').popover('destroy');
    $('#third_node_row_four').popover('destroy');
    $('#fourth_node_row_four').popover('destroy');
    $('#fifth_node_row_four').popover('destroy');
    $('#sixth_node_row_four').popover('destroy');
    $('#seventh_node_row_four').popover('destroy');
    $('#eight_node_row_four').popover('destroy');
    $("#first_node_row_one").css('display','block');
    $("#second_node_row_one").css('display','block');
    $("#first_node_row_two").css('display','block');
    $("#second_node_row_two").css('display','block');
    $("#third_node_row_two").css('display','block');
    $("#fourth_node_row_two").css('display','block');
    $("#first_node_row_four").css('display','block');
    $("#second_node_row_four").css('display','block');
    $("#third_node_row_four").css('display','block');
    $("#fourth_node_row_four").css('display','block');
    $("#fifth_node_row_four").css('display','block');
    $("#sixth_node_row_four").css('display','block');
    $("#seventh_node_row_four").css('display','block');
    $("#eight_node_row_four").css('display','block');
    $("#line_straight_row_two_one").css('display','block');
    $("#line_straight_row_two_two").css('display','block');
    $("#line_straight_row_three_one").css('display','block');
    $("#line_straight_row_three_two").css('display','block');
    $("#line_straight_row_three_third").css('display','block');
    $("#line_straight_row_three_fourth").css('display','block');
    }
    var data_for_further=[];
    var main_array=[{key:'',name:''}];
    var node_1=[];
    var input_data={"root_referral":''};
    var main_home_data='';
    var variable_data_array=[];
    $.ajax({
    type: 'POST',
    crossOrigin:true,
    data: JSON.stringify(input_data),
    contentType: 'application/json',
    url: '/referralTree',
    success: function(result) {
    console.log(result);
    node_1=result;
    return_me_the_promise().then(function(main_data){
    console.log(main_data);
    make_the_popover(main_data);
    data_for_further=main_data;
    main_array=main_data;
    })
    //console.log(result);
    //console.log('');
    },error:function(err){
    console.log(err);
    }
    });
    function get_further(get_id){
    var length_data=variable_data_array.length;
    if(get_id=="go_home")
    {
    $("#go_back_link").css('display','none');
    $("#go_back_home").css('display','none');
    $('.loader_div').css('display','block');
    $('#main_screen').css('display','none');
    var input_data={"root_referral":variable_data_array[0]["key"]};
    console.log(input_data);
    // console.log(main_array);
    reinitialise();
    $.ajax({
    type: 'POST',
    crossOrigin:true,
    data: JSON.stringify(input_data),
    contentType: 'application/json',
    url: '/referralTree',
    success: function(result) {
    console.log(result);
    node_1=result;
    main_array=[variable_data_array[0]];
    variable_data_array=[];
    console.log(variable_data_array.length);
    console.log(variable_data_array);
    if(variable_data_array.length==0)
    {
    $("#go_back_link").css('display','none');
    $("#go_back_home").css('display','none');
    }
    else
    {
    $("#go_back_link").css('display','block');
    $("#go_back_home").css('display','block');
    }
    console.log(main_array);
    return_me_the_promise().then(function(main_data){
    console.log(main_data);
    make_the_popover(main_data);
    data_for_further=main_data;
    main_array=main_data;
    })
    //console.log(result);
    //console.log('');
    },error:function(err){
    console.log(err);
    }
    });
    }else  if(get_id==0)
    {
    console.log('nothing_will_happen');
    }else  if(get_id=='no_number')
    {
    $("#go_back_link").css('display','none');
    $("#go_back_home").css('display','none');
    $('.loader_div').css('display','block');
    $('#main_screen').css('display','none');
    var input_data={"root_referral":variable_data_array[length_data-1]["key"]};
    console.log(input_data);
    // console.log(main_array);
    reinitialise();
    $.ajax({
    type: 'POST',
    crossOrigin:true,
    data: JSON.stringify(input_data),
    contentType: 'application/json',
    url: '/referralTree',
    success: function(result) {
    console.log(result);
    node_1=result;
    main_array=[variable_data_array[length_data-1]];
    variable_data_array.splice(length_data-1,1);
    console.log(variable_data_array.length);
    console.log(variable_data_array);
    if(variable_data_array.length==0)
    {
    $("#go_back_link").css('display','none');
    $("#go_back_home").css('display','none');
    }
    else
    {
    $("#go_back_link").css('display','block');
    $("#go_back_home").css('display','block');
    }
    console.log(main_array);
    return_me_the_promise().then(function(main_data){
    console.log(main_data);
    make_the_popover(main_data);
    data_for_further=main_data;
    main_array=main_data;
    })
    //console.log(result);
    //console.log('');
    },error:function(err){
    console.log(err);
    }
    });
    }else{
    $("#go_back_link").css('display','none');
    $("#go_back_home").css('display','none');
    console.log(main_array[get_id]["key"]);
    if(main_array[get_id]["key"]!='Empty')
    {
    $('.loader_div').css('display','block');
    $('#main_screen').css('display','none');
    var input_data={"root_referral":main_array[get_id]["key"]};
    variable_data_array.push({"key":main_array[0]["key"],name:data_for_further[0]["name"],parent:data_for_further[0]["parent"]});
    console.log("variable data : "+variable_data_array[0]["key"]);
    console.log(input_data);
    // console.log(main_array);
    reinitialise();
    $.ajax({
    type: 'POST',
    crossOrigin:true,
    data: JSON.stringify(input_data),
    contentType: 'application/json',
    url: '/referralTree',
    success: function(result) {
    console.log(result);
    node_1=result;
    main_array=[{key:data_for_further[get_id]["key"],name:data_for_further[get_id]["name"],parent:data_for_further[get_id]["parent"]}];
    return_me_the_promise().then(function(main_data){
    console.log(main_data);
    make_the_popover(main_data);
    data_for_further=main_data;
    main_array=main_data;
    $("#go_back_link").css('display','block');
    $("#go_back_home").css('display','block');
    })
    //console.log(result);
    //console.log('');
    },error:function(err){
    console.log(err);
    }
    });
    }else{
    console.log("Node empty");
    }
    }
    }
    //Search Function
    function search(){
    var length_data=variable_data_array.length;
    var user = document.getElementById('searchUser').value;
    var userKey;
    var i;
    console.log("Search User: " + user)
    console.log("Data Length: " + length_data)
    for(i=0;i<length_data;i++)
    {
    console.log("Name: " + variable_data_array[i]["name"])
    if(variable_data_array[i]["name"] == user)
    {
    console.log("Name: " + variable_data_array[i]["name"])
    console.log("Name: " + variable_data_array[i]["name"])
    userKey = i;
    }
    }
    console.log("User Found at location: " + userKey)
    $("#go_back_link").css('display','none');
    $("#go_back_home").css('display','none');
    $('#main_screen').css('display','none');
    var input_data={"root_referral":variable_data_array[userKey]["key"]};
    console.log(input_data);
    // console.log(main_array);
    reinitialise();
    $.ajax({
    type: 'POST',
    crossOrigin:true,
    data: JSON.stringify(input_data),
    contentType: 'application/json',
    url: '/referralTree',
    success: function(result) {
    if(data['success']){
    alert("User Not Found In Your Referral!");
    }
    console.log(result);
    node_1=result;
    main_array=[variable_data_array[userKey]];
    variable_data_array.splice(userKey,1);
    console.log(variable_data_array.length);
    console.log(variable_data_array);
    if(variable_data_array.length==0)
    {
    $("#go_back_link").css('display','none');
    $("#go_back_home").css('display','none');
    }
    else
    {
    $("#go_back_link").css('display','block');
    $("#go_back_home").css('display','block');
    }
    console.log(main_array);
    return_me_the_promise().then(function(main_data){
    console.log(main_data);
    make_the_popover(main_data);
    data_for_further=main_data;
    main_array=main_data;
    })
    //console.log(result);
    //console.log('');
    },error:function(err){
    console.log("Following Error Occured:", err);
    }
    });
    }
    function make_the_popover(main_data){
    function check_for_red_ness(data_item,index)
    {
    console.log("data_item : "+data_item+ " index : "+index );
    console.log(output_data[index].planAmt);
    if(output_data[index].planAmt>0)
    {
    console.log('hey');
    if(index==0)
    {
    $("#"+data_item).css('background-image','url("images/avatar_1.png")');
    }else if(index>=1 && index<=2)
    {
    $("#"+data_item).css('background-image','url("images/avatar_2.png")');
    }else if(index>=3 && index<=6)
    {
    $("'#"+data_item).css('background-image','url("images/avatar.png")');
    }else if(index>=7 && index<=14)
    {
    $("'#"+data_item).css('background-image','url("images/new.png")');
    }
    }
    }
    console.log(main_data);
    var output_data=main_data;
    for(var i=0;i<output_data.length;i++)
    {
    //console.log(output_data[i]);
    var get_names=$(".name");
    get_names[i].innerHTML=output_data[i].name;
    //var value="hey_there";
    var user_name="<h4> <center>"+output_data[i].name+"</center></h4>";
    //var normal_name="<h5 style='display:inline;padding:10px;font-size:12px;'> Name - </h5>"+"Rajat Rawat"+"<br>";
    var left_people="<h5 style='display:inline;padding:10px;font-size:12px;'> Left Count - </h5>"+output_data[i].leftCount+"<br>";
    var right_people="<h5 style='display:inline;padding:10px;font-size:12px;'> Right Count -  </h5>"+output_data[i].rightCount+"<br>";
    var self_refferal_code="<h5 style='display:inline;padding:10px;font-size:12px;'> Self Referral Code - </h5>"+output_data[i].key+"<br>";
    var parent_refferal_code="<h5 style='display:inline;padding:10px;font-size:12px;'> Parent Referral Code - </h5>"+output_data[i].parent+"<br>";
    //var Income_code="<h5 style='display:inline;padding:10px;font-size:12px;'> Income - </h5>"+"10000"+"<br>";
    var final_data="<div style='font-size:12px;'>"+user_name+"<center><hr style='width:80%;'></center>"+self_refferal_code+parent_refferal_code+left_people+right_people+"<br></div>";
    if(i==0)
    {
    if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
    {
    $("#root_tree").css('background-image','url("images/avatar_no.png")');
    //document.getElementById('root_tree').removeAttribute("onclick");
    }else {
    console.log("I am in");
    //console.log(final_data);
    //console.log("Inside Referral output_data: ", output_data);
    var left_people="<h5 style='display:inline;padding:10px;font-size:12px;'> Left Count - </h5> 0 <br>";
    var right_people="<h5 style='display:inline;padding:10px;font-size:12px;'> Right Count -  </h5> 0 <br>";
    //var left_business="<h5 style='display:inline;padding:10px;font-size:12px;'> Left Business - </h5> 0 <br>";
    //var right_business="<h5 style='display:inline;padding:10px;font-size:12px;'> Right Business - </h5> 0 <br>";
    if(output_data[1].key!="Empty")
    {
    left_people="<h5 style='display:inline;padding:10px;font-size:12px;'> Left Count - </h5>"+(output_data[1].leftCount+output_data[1].rightCount+1)+"<br>";
    left_business="<h5 style='display:inline;padding:10px;font-size:12px;'> Total Left Business - </h5>"+(output_data[3].totalLeftSideBusiness)+"<br>";
    }
    if(output_data[2].key!="Empty")
    {
    right_people="<h5 style='display:inline;padding:10px;font-size:12px;'> Right Count -  </h5>"+(output_data[2].leftCount+output_data[2].rightCount+1)+"<br>";
    right_business="<h5 style='display:inline;padding:10px;font-size:12px;'> Total Right Business - </h5>"+(output_data[3].totalRightSideBusiness)+"<br>";
    }
    final_data="<div style='font-size:12px;'>"+user_name+"<center><hr style='width:80%;'></center>"+self_refferal_code+left_people+right_people+"<br></div>";
    check_for_red_ness('root_tree',0);
    $("#root_tree").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
    }
    }
    if(i==1)
    {
    if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
    {
    $("#first_node_row_one").css('background-image','url("images/avatar_no.png")');
    //document.getElementById('first_node_row_one').removeAttribute("onclick");
    }else {
    check_for_red_ness('first_node_row_one',1);
    $("#first_node_row_one").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
    }
    }
    if(i==2)
    {
    if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
    {
    $("#second_node_row_one").css('background-image','url("images/avatar_no.png")');
    //document.getElementById('second_node_row_one').removeAttribute("onclick");
    }else {
    check_for_red_ness('second_node_row_one',2);
    $("#second_node_row_one").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
    }
    }
    if(i==3)
    {
    if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
    {
    $("#first_node_row_two").css('background-image','url("images/avatar_no.png")');
    //document.getElementById('first_node_row_two').removeAttribute("onclick");
    }else {
    check_for_red_ness('first_node_row_two',3);
    $("#first_node_row_two").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
    }
    }
    if(i==4)
    {
    if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
    {
    $("#second_node_row_two").css('background-image','url("images/avatar_no.png")');
    //document.getElementById('second_node_row_two').removeAttribute("onclick");
    }else {
    check_for_red_ness('second_node_row_two',4);
    $("#second_node_row_two").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
    }
    }
    if(i==5)
    {
    if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
    {
    $("#third_node_row_two").css('background-image','url("images/avatar_no.png")');
    //document.getElementById('third_node_row_two').removeAttribute("onclick");
    }else {
    check_for_red_ness('third_node_row_two',5);
    $("#third_node_row_two").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
    }
    }
    if(i==6)
    {
    if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
    {
    $("#fourth_node_row_two").css('background-image','url("images/avatar_no.png")');
    //document.getElementById('fourth_node_row_two').removeAttribute("onclick");
    }else {
    check_for_red_ness('fourth_node_row_two',6);
    $("#fourth_node_row_two").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
    }
    }
    if(i==7)
    {
    if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
    {
    $("#first_node_row_four").css('background-image','url("images/avatar_no.png")');
    //document.getElementById('first_node_row_four').removeAttribute("onclick");
    }else {
    check_for_red_ness('first_node_row_four',7);
    $("#first_node_row_four").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
    }
    }
    if(i==8)
    {
    if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
    {
    $("#second_node_row_four").css('background-image','url("images/avatar_no.png")');
    //document.getElementById('second_node_row_four').removeAttribute("onclick");
    }else {
    check_for_red_ness('second_node_row_four',8);
    $("#second_node_row_four").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
    }
    }
    if(i==9)
    {
    if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
    {
    $("#third_node_row_four").css('background-image','url("images/avatar_no.png")');
    //document.getElementById('third_node_row_four').removeAttribute("onclick");
    }else {
    check_for_red_ness('third_node_row_four',9);
    $("#third_node_row_four").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
    }
    }
    if(i==10)
    {
    if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
    {
    $("#fourth_node_row_four").css('background-image','url("images/avatar_no.png")');
    //document.getElementById('fourth_node_row_four').removeAttribute("onclick");
    }else {
    check_for_red_ness('fourth_node_row_four',10);
    $("#fourth_node_row_four").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
    }
    }
    if(i==11)
    {
    if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
    {
    $("#fifth_node_row_four").css('background-image','url("images/avatar_no.png")');
    //document.getElementById('fifth_node_row_four').removeAttribute("onclick");
    }else {
    check_for_red_ness('fifth_node_row_four',11);
    $("#fifth_node_row_four").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
    }
    }
    if(i==12)
    {
    if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
    {
    $("#sixth_node_row_four").css('background-image','url("images/avatar_no.png")');
    //document.getElementById('sixth_node_row_four').removeAttribute("onclick");
    }else {
    check_for_red_ness('sixth_node_row_four',12);
    $("#sixth_node_row_four").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
    }
    }
    if(i==13)
    {
    if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
    {
    $("#seventh_node_row_four").css('background-image','url("images/avatar_no.png")');
    //document.getElementById('seventh_node_row_four').removeAttribute("onclick");
    }else {
    check_for_red_ness('seventh_node_row_four',13);
    $("#seventh_node_row_four").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
    }
    }
    if(i==14)
    {
    if(output_data[i].name=='No Child' || output_data[i].name=='Empty')
    {
    $("#eight_node_row_four").css('background-image','url("images/avatar_no.png")');
    //document.getElementById('eight_node_row_four').removeAttribute("onclick");
    }else {
    check_for_red_ness('eight_node_row_four',14);
    $("#eight_node_row_four").popover({content: final_data, html: true,trigger: "hover",placement:"bottom"});
    }
    }
    $('.loader_div').css('display','none');
    $('#main_screen').css('display','block');
    }
    if(output_data[1].name=='No Child' || output_data[1].name=='Empty'){
    $("#first_node_row_two").css('display','none');
    $("#second_node_row_two").css('display','none');
    $("#first_node_row_four").css('display','none');
    $("#second_node_row_four").css('display','none');
    $("#third_node_row_four").css('display','none');
    $("#fourth_node_row_four").css('display','none');
    $("#line_straight_row_two_one").css('display','none');
    $("#line_straight_row_three_one").css('display','none');
    $("#line_straight_row_three_two").css('display','none');
    }
    if(output_data[2].name=='No Child' || output_data[2].name=='Empty')
    {
    $("#third_node_row_two").css('display','none');
    $("#fourth_node_row_two").css('display','none');
    $("#fifth_node_row_four").css('display','none');
    $("#sixth_node_row_four").css('display','none');
    $("#seventh_node_row_four").css('display','none');
    $("#eight_node_row_four").css('display','none');
    $("#line_straight_row_two_two").css('display','none');
    $("#line_straight_row_three_third").css('display','none');
    $("#line_straight_row_three_fourth").css('display','none');
    }
    if(output_data[3].name=='No Child' || output_data[3].name=='Empty')
    {
    $("#first_node_row_four").css('display','none');
    $("#second_node_row_four").css('display','none');
    $("#line_straight_row_three_one").css('display','none');
    }
    if(output_data[4].name=='No Child' || output_data[4].name=='Empty')
    {
    $("#third_node_row_four").css('display','none');
    $("#fourth_node_row_four").css('display','none');
    $("#line_straight_row_three_two").css('display','none');
    }
    if(output_data[5].name=='No Child' || output_data[5].name=='Empty')
    {
    $("#fifth_node_row_four").css('display','none');
    $("#sixth_node_row_four").css('display','none');
    $("#line_straight_row_three_third").css('display','none');
    }
    if(output_data[6].name=='No Child' || output_data[6].name=='Empty')
    {
    $("#seventh_node_row_four").css('display','none');
    $("#eight_node_row_four").css('display','none');
    $("#line_straight_row_three_fourth").css('display','none');
    }
    }
    function return_me_the_promise(){
    var willIGetNewPhone = new Promise(
    function (resolve, reject) {
    var iterations=0;
    console.log(create_new_main_data(main_array,iterations));
    function create_new_main_data(main_array,iterations){
    key=main_array[iterations]["key"];
    console.log(main_array);
    if(iterations==7)
    {
    resolve(main_array);
    }else {
    iterations=iterations+1;
    get_my_array().then(function(result_from_prom){
    console.log(result_from_prom);
    console.log(iterations);
    if(Object.keys(result_from_prom["left_link"]).length!=0 && Object.keys(result_from_prom["right_link"]).length!=0)
    {
    main_array.push(result_from_prom["left_link"]);
    main_array.push(result_from_prom["right_link"]);
    console.log(main_array);
    create_new_main_data(main_array,iterations);
    }
    if(Object.keys(result_from_prom["left_link"]).length!=0 && Object.keys(result_from_prom["right_link"]).length==0)
    {
    main_array.push(result_from_prom["left_link"]);
    main_array.push({"key":"Empty","parent":key,"name":"No Child"});
    create_new_main_data(main_array,iterations);
    }
    if(Object.keys(result_from_prom["left_link"]).length==0 && Object.keys(result_from_prom["right_link"]).length!=0)
    {
    main_array.push({"key":"Empty","parent":key,"name":"No Child"});
    main_array.push(result_from_prom["right_link"]);
    create_new_main_data(main_array,iterations);
    }
    if(Object.keys(result_from_prom["left_link"]).length==0 && Object.keys(result_from_prom["right_link"]).length==0)
    {
    main_array.push({"key":"Empty","parent":key,"name":"No Child"});
    main_array.push({"key":"Empty","parent":key,"name":"No Child"});
    create_new_main_data(main_array,iterations);
    }
    });
    }
    }
    // main_array.push(find_left_right(main_array[i]["key"]));
    // console.log(main_array);
    function get_my_array(){
    var getting_the_two_values = new Promise(
    function (resolve, reject) {
    var temp_array=[];
    var left_link={};
    var right_link={};
    var counter=0;;
    console.log(key);
    if(node_1.length==0)
    {
    temp_array={left_link,right_link};
    resolve(temp_array);
    }else{
    for(var j=0;j<node_1.length;j++)
    {
    if(node_1[j]["parent"]==key)
    {
    counter=counter+1;
    if(counter==1)
    {
    left_link=node_1[j];
    }
    if(counter==2)
    {
    right_link=node_1[j];
    temp_array={left_link,right_link};
    resolve(temp_array);
    break;
    }
    }
    if(j==node_1.length-1)
    {   console.log("hey");
    temp_array={left_link,right_link};
    resolve(temp_array);
    }
    }
    }
    });
    return getting_the_two_values;
    }
    }
    );
    return willIGetNewPhone;
    }
    $(function(){
    $(document).on('click',".button_hey_logout",function(){
    $("#btn-logout").click();
    });
    var refferal_value='http://sipcoin.io/signup?ref%3D';
    $("#whats_app_link").attr('href','https://web.whatsapp.com//send?text='+refferal_value);
    console.log(refferal_value);
    })

    $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    });

    function send_email(){
    var array_email=[];
    console.log($(".chip").find(".name"));
    var email_data=$(".chip").find(".name");
    for(var i=0;i<email_data.length;i++)
    {
    array_email.push(email_data[i].innerHTML);
    }
    setTimeout(function(){
    console.log(array_email);

    },1000);
    }

    var data_for_the_popover='<div class="container" style="background-color:#222222;"> <div class="row"> <div class="col-sm-2" style="background-color:#222222;color:white;padding-left: 0px;padding-right: 0px;"> <div class="row"> <div class="col-sm-12" style="color:white;padding:20px;font-family:lato_bold,open-serif;"> <center><h5 style="font-size:17px;color:white;"> </h5> </center> </div> <div class="col-sm-12"> <br> </div> <div class="col-sm-12 hover_change_back"> <h5 style="font-size:20px;font-family:lato_light;"> <a href="/account" style="color:white;text-decoration:none;"> <i style="padding-right:3px;padding-left:10px;"class="fa fa-cogs" aria-hidden="true"></i> Account Settings </a> </h5> </div> <div class="col-sm-12"> <hr> </div> <div  class="col-sm-12 hover_change_back button_hey_logout"> <h5 style="font-size:20px;font-family:lato_light;"> <i style="padding-right:12px;padding-left:10px;" class="fa fa-power-off" aria-hidden="true"></i>Log out </h5> </div> </div> <br> </div> </div> </div>';
    $(function(){
    $('.open_the_popup').popover({content:data_for_the_popover ,placement: "bottom",html: true,trigger: "focus"});
    })
    function openNav() {
    document.getElementById("mySidenav").style.width = "300px";
    }
    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }
    $("#mySidenav").mouseleave(function(){
    document.getElementById("mySidenav").style.width = "0";
    });

include modals/alert
include modals/confirm
